body {
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar img {
  width: 92.2px;
  height: 50px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  /* Adjust the spacing between links as needed */
}

.logo img {
  width: 166px;
  height: 90px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #00a0e0;
}

.about-body {
  width: 55%;
  margin: 0 auto;
  margin-top: 3.3rem;
  text-align: center;

}

.about-body p {
  margin-bottom: 5rem;
}


.about-body h2 {
  font-weight: 100;
  font-size: 35px;
  margin-bottom: 34px;
}

#about-title {
  text-align: center;
  font-weight: 500;
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

#about-line{
  max-width: 50%;
}

.contact-body {
  width: 500px;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
}