body {
  margin: 0;
  padding: 0;
}

.sticky-picture {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.banner {
  background-image: url('your-image.jpg');
  background-size: cover;
  background-attachment: fixed;
  height: 100vh; /* Adjust as needed */
}

.navbar {
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.navbar img {
  width: 92.2px;
  height: 50px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  /* Adjust the spacing between links as needed */
}

.logo img {
  width: 166px;
  height: 90px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #00a0e0;
}

.about-body {
  width: 55%;
  margin: 0 auto;
  margin-top: 3.3rem;
  text-align: center;

}

.about-body p {
  margin-bottom: 5rem;
}


.about-body h2 {
  font-weight: 100;
  font-size: 2.3rem;
  margin-bottom: 2.5rem;
}

#about-title {
  text-align: center;
  font-weight: 500;
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

#about-line{
  max-width: 50%;
}

.contact-body {
  width: 30%;
  margin: 0 auto;
  margin-top: 3rem;
  text-align: center;
  font-size: 1.25rem;
}

.contact-body h1{
  font-weight: 500;
  font-size: 2.8rem;
}

* {
  box-sizing: border-box;
  }
  
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }