body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.sticky-picture {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

.banner {
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: auto;
  display: block;
}

.text-overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff; /* Adjust text color to contrast with your image */
}

.text-overlay h1{
  font-size: 5rem;
  letter-spacing: .15rem;
}

.text-overlay p{
  font-size: 2.4rem;
}

.navbar {
  background-color: #111111;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  font-size: 1.2rem;
}

.navbar img {
  height: 90px;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  /* Adjust the spacing between links as needed */
}

.logo img {
  width: 166px;
  height: 90px;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  display: inline;
  margin-right: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #00a0e0;
}

.about-body {
  width: 55%;
  margin: 0 auto;
  margin-top: 3.3rem;
  text-align: center;

}

.about-body p {
  margin-bottom: 5rem;
}


.about-body h2 {
  font-weight: 100;
  font-size: 2.3rem;
  margin-bottom: 2.5rem;
}

#about-title {
  text-align: center;
  font-weight: 500;
  font-size: 2.8rem;
  margin-bottom: 2rem;
}

#about-line {
  max-width: 50%;
}

.contact-body {
  width: 30%;
  margin: 0 auto;
  margin-top: 3rem;
  text-align: center;
  font-size: 1.25rem;
}

.contact-body h1 {
  font-weight: 500;
  font-size: 2.8rem;
}

.contact-body a {
  text-align: center;
}

* {
  box-sizing: border-box;
}

form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.example button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196F3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.example button:hover {
  background: #0b7dda;
}

form.example::after {
  content: "";
  clear: both;
  display: table;
}